.header {
  height: 12vh;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.header-logo-section {
  margin-right: auto;
}
.navigation-list {
  list-style-type: none;
  padding-inline-start: 0px;
  display: flex;
}

.navigation-item {
  color: #64748b;
  margin-right: 25px;
}

.logout-btn {
  background-color: #0284c7;
  color: #ffffff;
  border-style: none;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
}
